<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!--只支持pdf文件-->
    <add key="PDF_FileType" value="PDF文件|*.pdf" />
    <!--图片类型-->
    <add key="Img_FileType" value="Image文件|*.jpg;*.png;*.bmp;*.gif" />
    <add key="PDF_Detail_Line" value="______________________________________________________________________________" />
    <add key="PDF_Detail_Line2" value="_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _" />
    <add key="Number_date" value="Number/date 单号/日期" />
    <add key="Number_date2" value="Number/date" />
    <add key="Ship_to_address" value="Ship-to address 收货方地址" />
    <add key="Ship_to_address2" value="Ship-to address " />
    <add key="Contact_person" value="Contact person/E-mail 联系人/电子邮件" />
    <add key="Contact_person2" value="Contact person/E-mail" />
    <add key="Order_no_date" value="Your Order no./date 贵司订单号码/日期" />
    <add key="Order_no_date2" value="Your Order no./date" />
    <add key="Our_ref" value="Our ref/date 我司参考号码/日期" />
    <add key="Our_ref2" value="Our ref/date" />
    <add key="Sold_to_address" value="Sold-to address 售达方地址" />
    <add key="Shipment_details" value="Shipment details 发货批次详述" />
    <add key="Shipment_details2" value="Shipment details" />
    <add key="EndIndex" value="赛默飞世尔科技 （中国 ）有限公司 开户银行(美金) ：中国银行浦东开发区支行" />
  </appSettings>
</configuration>
