<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageResizer.Plugins.PdfiumRenderer.Pdfium.Dll" version="1.0.1" targetFramework="net46" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net46" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net46" />
</packages>