<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CommonServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://bsp-ois.sit.sf-express.com:9080/bsp-ois/ws/expressService"
                binding="basicHttpBinding" bindingConfiguration="CommonServiceServiceSoapBinding"
                contract="ServiceSF.IService" name="CommonServicePort" />
        </client>
    </system.serviceModel>
</configuration>